.smm-99 {
    width: 50%;
    float: right;

}

.radio-inline {
    margin-left: 0px;
    margin-right: 42px;
    margin-top: 5px;
}

@media (max-width: 1199px) {
    .match-height .col-md-2 {
        width: 50%;
        float: left;
    }

    .match-height .col-md-3 {
        width: 50%;
        float: left;
    }

    .match-height .col-md-4 {
        width: 50%;
        float: left;
    }

    .match-height .col-md-8 {
        width: 100%;
    }

    .col-md-offset-2 {
        width: 66% !important;
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 0;
    }

    .select2 {
        width: 100% !important;
    }

    .form-control {
        height: 30px !important;
    }

    .offset-md-2 {
        margin-left: 0;
    }

    .offset-md-3 {
        margin-left: 0;
    }
}

@media (max-width: 991px) {

    .heading-elements-toggle {
        display: none;
    }

    .heading-elements .list-inline {
        display: block;
    }
}

@media (max-width: 991px) {
    .match-height .col-md-6 {
        width: 50%;
        float: left;
    }

    .match-height .col-md-9 {
        width: 50%;
        float: left;
    }

    .match-height .col-md-10 {
        width: 50%;
        float: left;
    }

    .match-height .col-md-5 {
        width: 50%;
        float: left;
    }

    .match-height .col-md-8 {
        width: 50%;
        float: left;
    }

}

@media (max-width: 475px) {
    .match-height .col-md-2 {
        width: 100%;
    }

    .match-height .col-md-3 {
        width: 100%;
    }

    .match-height .col-md-4 {
        width: 100%;
    }

    .match-height .col-md-6 {
        width: 100%;
    }

    .match-height .col-md-9 {
        width: 100%;
    }

    .match-height .col-md-10 {
        width: 100%;
    }

    .match-height .col-md-5 {
        width: 100%;
    }

    .match-height .col-md-8 {
        width: 100%;
    }

    .card-header .form-control {
        border-radius: 4px;
        padding: 0px 0px;
        width: 58px;
        font-weight: 100;
        font-size: 11px;

    }

    .card .card-title {
        font-weight: 100;
        letter-spacing: 0px;
        font-size: 12px;
        padding: 0px 0px;
    }
}
